<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="user_id">
        insert into users(user_id,user_name,sex,phone,email,state,administratir,password)
        values(${user_id},${user_name},${sex},${phone},${email},${state},${administratir},${password})
    </insert>
    <update id="UserUpdate">
        update users
        set user_name = ${user_name},sex = ${sex},phone = ${phone},email = ${email},state = ${state},
               administratir = ${administratir},password = ${password}
        where user_id = ${user_id}
    </update>
    <select id="check" parameterType="com.example.demo.entity.User" resultType="com.example.demo.entity.User">
        select * from users
        where user_name = ${user_name} and user_id = ${user_id} and sex = ${sex}
    </select>
    <select id="findAll" resultType="com.example.demo.entity.User">
        select * from users;
    </select>
</mapper>